@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/payments")
}


@{
    ViewBag.Title = "Index";
}

<br />
@*<h2>Index</h2>*@

<div class="panel-body">

    <h2>Payments to be prepared</h2>
    <p>
        The Payables Tracker creates automatically your wires so you just have to sign them digitally on your bank interface.
    </p>
    <br />


    @Html.Partial("_PaymentBAPartial")

    <div class="row">
        <button type="button" class="btn btn-default">Download all wires</button>
        <button type="button" class="btn btn-success">Pay all</button>
        <hr>
    </div>


    <div class="col-md-12" data-bind="foreach: suppliers">
        <div class="panel panel-default plain toggle">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title" data-bind="text: Name"><i class="fa fa-table"></i> </h4>
            </div>
            <div class="panel-body" data-bind="foreach: Totals">
                <div class="row">
                    <div class="col-md-2"><p data-bind="text: Currency"></p></div>
                    <div class="col-md-2"><p data-bind="number: Amount, precision: 0"></p></div>
                    <div class="col-md-2"><select data-bind="options: $root.BankAccounts, optionsValue:'ID', optionsText:'Name', value:BankAccount.ID, event:{ change: $root.ComputeBankPayments}"></select></div>
                    <div class="col-md-2"><button type="button" data-bind="click: $root.DownloadTotalWire" class="btn btn-primary">Download wire</button></div>
                    <div class="col-md-2"><button type="button" data-bind="click: $root.MarkTotalAsPaid" class="btn btn-success">Mark as paid</button></div>
                    <hr>
                </div>
                </div>
            <!-- End .panel body-->
        </div>
        <!-- End .panel-->
    </div>


    <!--<button class="btn btn-primary" data-bind="click: $root.showForm">New</button>-->
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</div>




