@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/home")
}

@{
    ViewBag.Title = "Home Page";
}

<h2>ALA France Invoices Tracker</h2>
<hr />



@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h3>Upload from SAP</h3>
            <div class="form-group">
                <input type="file" name="file" />
                <input type="submit" value="Submit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}


<div class="text-danger">
    @ViewBag.Alert    
</div>
<div class="text-success">
    @ViewBag.Message
</div>


<div>
    <h3>Total overdue</h3>
    <ul id="total_overdue" />
</div>


<div>
    <h3>Search</h3>
    <input type="text" id="invoiceId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="invoice" />
</div>

