@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/invoices")
}

@{
    ViewBag.Title = "Home Page";
}


<h2>Welcome</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Suppliers' Payments Management</h2>
        <p>This application allows you to manage the trade payables.</p>
        <p>You can vizualize the invoices due as of today as well as the invoices to be paid in the future.</p>
    </div>
    <div class="col-md-4">
        <h2>Upload SAP invoices</h2>
        <p>A daily SAP upload is necessary to keep the payments up to date.</p>
        <p>The system identifies duplicates and prevent errors.</p>
    </div>
</div>
<hr />


@using (Html.BeginForm("Index", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Submit" class="btn btn-primary"/>
}

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>Upload from SAP</h3>
        <div class="form-group">
            <div class="input-group input-file" name="Fichier1">
                <span class="input-group-btn">
                    <button id="FileUpload1" class="btn btn-default btn-choose" type="button">Choose</button>
                </span>
                <input id="inputText1" type="text" class="form-control" placeholder='Choose a file...' />
                <button id="btnImport" type="submit" class="btn btn-primary" OnClick="ImportCSV">Submit</button>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Invoices overdue</h2>
    <ul id="invoices" />
</div>
<div>
    <h2>Search</h2>
    <input type="text" id="invoiceId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="invoice" />
</div>

