@section scripts {
    @Scripts.Render("~/bundles/app")
}

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ALA France Suppliers' Payments</h1>
</div>

<div class="row">
    <button type="button" class="btn btn-primary">Upload Invoices from SAP</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Suppliers Payments</h2>
        <p>
            This application allows you to manage the trade payables.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Upload SAP invoices</h2>
        <p>A daily SAP upload is necessary to keep the payments up to date.</p>
        <p>The system identify duplicates and prevent errors.</p>
    </div>
    <div class="col-md-4">
        <h2>Payments tracking</h2>
        <p>You can vizualize the invoices due as of today as well as the invoices to be paid in the future.</p>
    </div>
</div>

<div>
    <h2>Invoices overdue</h2>
    <ul id="invoices" />
</div>
<div>
    <h2>Search</h2>
    <input type="text" id="prodId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />
</div>

