@section scripts {
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/home")
}


@{
    ViewBag.Title = "Home Page";
}

<h2>ALA France Invoices Tracker</h2>
<hr />



<div class="text-danger">
    @ViewBag.Alert
</div>
<div class="text-success">
    @ViewBag.Message
</div>
<hr />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div"></div>
<hr />

<div>
    <h3>Total overdue</h3>
    <ul id="total_overdue" />
</div>

<p>Amount to be paid in EUR: <span data-bind="text: toBePaidEUR.formatted"></span>  - Bank total EUR amount:  XX €</p>
<p>Amount to be paid in USD: <span data-bind="text: toBePaidUSD.formatted"></span>  - Bank total USD amount: YY $</p>
<p>Amount to be paid in GBP: <span data-bind="text: toBePaidGBP.formatted"></span>  - Bank GBP amount: ZZ £</p>
