@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>




@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h3>Upload invoices from SAP</h3>
            <div class="form-group">
                <input type="file" name="file" />
                <input type="submit" value="Submit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}


<hr />


