<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/758f48c4-1ac4-4352-91fe-39bcc86df532/resourcegroups/alafrancepayments/providers/Microsoft.Web/sites/PaymentTracker4</ResourceId>
    <ResourceGroup>alafrancepayments</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymenttracker4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>paymenttracker4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PaymentTracker4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PaymentTracker4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADDomain>alacorporation.com</ADDomain>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PaymentContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:echeancier.database.windows.net,1433;Initial Catalog=EcheancierDotNet_db2;Persist Security Info=True;User ID=ADMINISTRATEUR;Password=rOBIN-01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=EcheancierDotNet2;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PaymentContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=EcheancierDotNet2;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://alacorporation.com/WebApp-paymenttracker4.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>6db39a6e-584b-47a4-83e7-df86aa975d38</ADClientAPPID>
    <ADClientPassword>Y+cPERRj2a690Dp0BVDRkWsJwR2VWgfUjE6OZ5k4GLc=</ADClientPassword>
    <ADReplyUrl>https://paymenttracker4.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>a8489952-3e88-412d-ba4a-2f7dd6aab2a9</ADTenantId>
    <ADPostLogoutRedirectUri>https://paymenttracker4.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PaymentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:echeancier.database.windows.net,1433;Initial Catalog=EcheancierDotNet_db2;Persist Security Info=True;User ID=ADMINISTRATEUR;Password=rOBIN-01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>